@use '../abstracts' as *;
.accordion {
  --_radius: 5px;
  --_transition-duration: 250ms;
  padding-inline: 12px;

  &__item {
    margin-bottom: 10px;
  }

  &__header {
    margin-block: 0;
    font-size: px-to-rem(18);
    border-radius: var(--_radius);
    background-color: var(--clr-primary);
    cursor: pointer;
    // transition: background-color var(--transition-duration) ease;

    & > * {
      cursor: inherit;
    }

    &.expanded {
      background-color: var(--clr-primary);
    }
  }

  &__toggler {
    appearance: none;
    border: none;
    width: 100%;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;

    svg {
      transition: transform var(--_transition-duration, 0.3s) ease;
    }

    &[aria-expanded='true']::after {
      transform: rotate(180deg);
    }
    &:focus-visible {
      outline: 2px dashed var(--clr-black);
      outline-offset: 5px;
    }

    &::after {
      content: '';
      flex-shrink: 0;
      width: 1.25rem;
      height: 1.25rem;
      margin-left: auto;
      content: '';
      background-image: url('../assets/svg/chevron-down.svg');
      background-repeat: no-repeat;
      background-position: center;
      transition: transform var(--_transition-duration) ease-in-out;
      transform-origin: center center;
    }
  }

  &__collapse {
    &.collapsing {
      overflow: hidden;
      height: 0;
      transition: height var(--_transition-duration) linear;
    }

    &.collapse:not(.show) {
      display: none;
    }
  }

  &__body {
    background-color: var(--clr-white);
    border-radius: var(--_radius);
    padding: 10px 25px;
  }
}
